@import '../../assets/scss/config/variables';
@import '../../assets/scss/config/mixins';
@import '../../assets/scss/config/extends';

.cards-sidebar{
    display: flex;
    margin-bottom: 0.8rem;
    &_text{
        margin-left: 1.4rem;
        h3{
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 2.1rem;
            font-family: $font-secondary;
            margin-bottom: 0.5rem;
        }
        .name-autor{
            display: flex;
            min-height: 2rem;
            padding-bottom: 1.6rem;
            p{
                height: 100%;
                margin-bottom: 0;
                font-size: 1.2rem;
                &:nth-child(1){
                    color: color(complementary, one);
                }
                &:nth-child(2){
                    margin: 0 0.8rem;
                }
                &:nth-child(3){
                    color: color(grayscale, gray-5);
                }
            }
        }
    }
}