@import '../../assets/scss/config/variables';
@import '../../assets/scss/config/mixins';
@import '../../assets/scss/config/extends';

.more-read{
    background-color: color(grayscale, gray-2);
    padding: 2.2rem 2rem 0rem;
    padding-left: 2.4rem;
    h2{
        margin-bottom: 2.4rem;
    }
    app-cards-notices{
        flex-wrap: wrap;
    }
}
@include mq-min(lg){
    .more-read{
        margin: auto;
        padding-bottom: 1.7rem;
        h2{
            max-width: 118.4rem;
            margin: 3.6rem auto 2rem;
        }
    }
}