<header class="header">
    <div class="container d-flex fd-row jc-space-between">
        <button class="hamburguer" (click)="showMenu()" [ngClass]="openMenu ? 'open' : ''">
            <span class="icon-icon-hamburguer"></span>
        </button>
        <picture class="logo">
            <source srcset="../../../../assets/images/logos/Logo-RI-Mobile.png" class="logo-mobile" alt="Reportero Industrial" media="(max-width: 960px)" title="logo RI" height="30" width="97">
            <source srcset="../../../../assets/images/logos/Logo-RI.png" class="logo-desktop" alt="Reportero Industrial" title="logo RI" height="28" width="230">
            <img srcset="../../../../assets/images/logos/Logo RI.png" alt="Default logo">
        </picture>
        <div class="container-menu d-flex" [ngClass]="openMenu ? 'open' : ''">
            <nav class="main-menu">
                <a *ngFor="let item of datosMenu" href="{{item.url}}" class="button text-link">{{item.titulo}}</a>
            </nav>
        </div>
        <div class="buttons-right">
            <a href="#" class="btn btn-primary btn-access">Acceder</a>
            <button class="search">
                <span class="icon-icon-search"></span>
            </button>
        </div>
    </div>
</header>