@import '../../assets/scss/config/variables';
@import '../../assets/scss/config/mixins';
@import '../../assets/scss/config/extends';

.header{
    .container{
        padding: 1.3rem 1rem;
        .btn{
            &.btn-primary{
                font-weight: bold;
                background: color(secondary, dark);
                border: none;
                border-radius: initial;
                font-size: 1.2rem;
            }
        }
        .hamburguer{
            cursor: pointer;
            border: none;
            background: initial;
            .icon-icon-hamburguer{
                &::before{
                    content: "\e905";
                    color: color(primary, base);
                    font-family: iconFont;
                    font-size: 2rem;
                    width: 2rem;
                    height: 1.5rem;
                }
            }
        }
        .buttons-right{
            display: flex;
            .search{
                border: none;
                background: initial;
                padding-left: 2.6rem;
                max-height: 3.2rem;
                .icon-icon-search{
                    &::before{
                        content: "\e90c";
                        color: color(primary, base);
                        font-family: iconFont;
                        font-size: 2rem;
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
            .btn-access{
                max-height: 3.2rem;
            }
        }
        .container-menu{
            display: none;
            order: -1;
            position: absolute;
            top: 5.7rem;
            background: white;
            width: 100%;
            min-height: 100%;
            left: 0;
            &.open{
                display: block;
            }
            .main-menu{
                margin-top: 3rem;
                text-align: center;
                padding: 0;
                ul{
                    padding-left: 0;
                    li{
                        padding: 2rem 0;
                        a{
                            &:hover{
                                color: color(primary, base);
                                border-bottom: 0.3rem solid color(complementary, four);
                                max-width: 20rem;
                                padding-bottom: 1.9rem;
                            }
                        }
                    }
                }
            }
        }
        .logo-desktop{
            display: none;
        }
    }
}
@include mq-min(lg){
    .header{
        max-height: 6.8rem;
        .container{
            max-height: 100%;
            .buttons-right{
                .btn-access{
                    margin-right: 2.8rem;
                }
                .search{
                    border-left: 0.15rem solid color(grayscale, gray-2);
                    padding-left: 2.8rem;
                }
            }
            .container-menu{
                display: block;
                order: initial;
                position: initial;
                width: initial;
                .main-menu{
                    margin-top: 0;
                    ul{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 0;
                        li{
                            padding: 0.5rem 1.5rem 1.9rem;
                            font-weight: normal;
                            font-size: 1.2rem;
                            color: color(primary, base);
                        }
                    }
                }
            }
            .hamburguer{
                display: none;
            }
            .logo-desktop{
                display: block;
            }
            .logo-mobile{
                display: none;
            }
        }
    }
}