<header class="header">
    <div class="container d-flex fd-row jc-space-around">
        <button class="hamburguer">
            <span class="icon-icon-hamburguer"></span>
        </button>
        <a href="" class="logo-mobile">
            <img src="../../../../assets/images/logos/Logo RI - Mobile.png" alt="Reportero Industrial" title="logo RI" height="30" width="97">
        </a>
        <button class="btn btn-primary btn-access">Acceder</button>
        <button class="search">
            <span class="icon-icon-search"></span>
        </button>
    </div>
</header>