@import '../../assets/scss/config/variables';
@import '../../assets/scss/config/mixins';
@import '../../assets/scss/config/extends';

footer{
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 3.3rem 2.1rem;
    max-width: 144rem;
    min-height: 28.5rem;
    margin: auto;
    z-index: -1;
    .container{
        padding: 0;
    }
    .content-top{
        .info-footer{
            flex-direction: column;
            margin-bottom: 2.4rem;
            margin-left: 0.4rem;
            .logo-desktop{
                margin-bottom: 1.2rem;
                margin-right: 2.7rem;
            }
            .text-footer{
                color: color(grayscale, gray-5);
                font-family: $font-primary;
                font-size: map-get($sizes, small);
                line-height: 2rem;
                margin-bottom: 0;
            }
        }
        .social-footer{
            h2{
                color: color(complementary, two);
                font-weight: 500;
                text-align: center;
                font-size: map-get($sizes, tiny);
                margin-bottom: 3.3rem;
            }
            nav{
                margin: 0 2.7rem;
                ul{
                    padding-left: 0;
                    margin-bottom: 2.6rem;
                    .info-social{
                        a{
                            text-decoration: none;
                            color: color(grayscale, gray-5);
                            font-size: map-get($sizes, tiny);
                            font-weight: 500;
                            font-family: $font-primary;
                            display: flex;
                            align-items: center;
                            span{
                                padding-right: 0.8rem;
                                &::before{
                                    font-size: map-get($sizes, small-m);
                                    color: color(complementary, two);
                                    font-weight: 900;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .content-bottom{
        margin-bottom: -0.2rem;
        .footer-links{
            .footer-menu{
                ul{
                    margin-bottom: 0;
                    padding: 1.2rem 0 2.9rem .3rem;
                    li{
                        font-size: map-get($sizes, tiny);
                        font-family: $font-primary;
                        a{
                            text-decoration: none;
                            color: color(complementary, two);
                            font-weight: 600;
                        }
                    }
                }
            }
            .copyright{
                text-align: center;
                font-family: $font-primary;
                font-size: map-get($sizes, tiny);
                color: color(grayscale, gray-5);
                margin-bottom: 0;
            }
        }
    }
}
@include mq-min(md){
    footer{
        width: 100%;
        .content-top{
            display: flex;
            justify-content: flex-start;
            min-width: 100%;
            .info-footer{
                max-width: 55.6rem;
                margin-left: 4.5rem;
                align-items: flex-start;
                margin-bottom: 2rem;
                .logo-desktop{
                    margin-bottom: 1.2rem;
                    margin-left: -0.3rem;
                }
            }
            .social-footer{
                min-width: 21rem;
                // margin-left: 23.3rem;
                margin-left: 11.3rem;
                h2{
                    text-align: left;
                    margin-bottom: 3.2rem;
                }
                nav{
                    margin: 0;
                    ul{
                        justify-content: space-between;
                        .info-social{
                            a{
                                span{
                                    padding-right: 0.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .content-bottom{
            margin-top: 2rem;
            margin-top: 1.7rem;
            .footer-links{
                .copyright{
                    text-align: left;
                    margin-left: 4.5rem;
                }
                .footer-menu{
                    ul{
                        max-width: 320px;
                        margin-left: 4.3rem;
                        padding: 0rem 0 3.1rem 0.2rem;
                    }
                }
            }
        }
    }
}
@include mq-min(xxl){
    footer{
        max-width: 100%;
        // padding: 3.3rem 9rem;
        padding: 4.4rem 9rem;
        .container{
            padding: 0;
            margin-left: 1.8rem;
        }
        .content-top{
            .social-footer{
                margin-left: 23.3rem;
                h2{
                    margin-bottom: 2.9rem;
                }
            }
        }
    }
}