@import '../../assets/scss/config/variables';
@import '../../assets/scss/config/mixins';
@import '../../assets/scss/config/extends';

.banner-container{
    margin-top: 6.7rem;
    max-height: 5.3rem;
    min-width: 36rem;
    width: 100%;
    position: absolute;
    left: 0;
}
