@import '../../assets/scss/config/variables';
@import '../../assets/scss/config/mixins';
@import '../../assets/scss/config/extends';

.banner-container{
    min-width: 36rem;
    width: 100%;
}
@include mq-min(lg){
    .banner-container{
        display: flex;
        max-width: 120rem;
        margin: auto;
    }
}
