@import '../../assets/scss/config/variables';
@import '../../assets/scss/config/mixins';
@import '../../assets/scss/config/extends';

.nav-banner{
    background-color: color(border, color-2);
    display: flex;
    align-items: center;
    height: 5.3rem;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    overflow-x: auto;
    overflow: -moz-scrollbars-none;
    padding: 2.5rem 1rem;
    width: 100%;
    &::-webkit-scrollbar {
        width: 0 !important
    }
    .links-banner{
        min-width: fit-content;
        font-size: 1rem;
        padding: 0 0.5rem;
        a{
            color: color(complementary, five);
            text-transform: uppercase;
            font-weight: normal;
            &:hover{
                font-weight: 600;
            }
        }
    }
    h3{
        font-size: map-get($sizes, "tiny");
        padding-right: 0.5rem;
    }
}
@include mq-min(lg){
    .nav-banner{
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        background-color: color(grayscale, white);
        padding-right: 1.6rem;
        h3{
            font-size: 1.4rem;
            padding-bottom: 1.4rem;
        }
        .links-banner{
            font-size: 1.4rem;
            padding: 0.8rem 4.2rem 0.5rem 0.8rem;
            border: 0.1rem solid #E9ECEF;
            margin-bottom: 0.8rem;
            margin-top: 0;
            width: 18.7rem;
            a{
                text-transform: initial;
                &:hover{
                    font-weight: normal;
                }
            }
            &:hover{
                background: color(complementary, five);
                border: none;
                cursor: pointer;
                a{
                    color: color(grayscale, white);
                }
            }
        }
    }
}