@import '../../assets/scss/config/variables';
@import '../../assets/scss/config/mixins';
@import '../../assets/scss/config/extends';

.sidebar{
    padding: 1.6rem 2rem;
    &_products,
    &_articles{
        h2{
            margin-bottom: 2.4rem;
        }
    }
    &_products{
        h2{
            margin-top: 0.5rem;
            font-size: 1.4rem;
        }
    }
    &_articles{
        h2{
            margin-top: 1.7rem;
            font-size: 1.4rem;
        }
        .cards-sidebar{
            margin-bottom: 0.7rem;
        }
    }
}
@include mq-min(lg){
    .sidebar{
        padding: 2.1rem 0 2.1rem 1.5rem;
        &_articles{
            margin: 3.7rem 0rem 1.7rem 0.1rem;
            h2{
                margin-top: 4.1rem;
                margin-bottom: 1.7rem;
            }
        }
    }
}