<div class="notice-banner">
    <picture class="picture-banner">
        <source srcset="../../../../assets/images/banner/manufactura-mobile.png" class="imagen-noticia-mobile" alt="manufactura" media="(max-width: 960px)" title="imagen noticia" height="172" width="360">
        <source srcset="../../../../assets/images/banners/manufactura-desktop.png" class="imagen-noticia-desktop" alt="manufactura" title="imagen noticia" height="302" width="692">
        <img srcset="../../../../assets/images/banners/manufactura-desktop.png" alt="Default imagen banner">
    </picture>
</div>
