<div class="notice-banner">
    <div class="notice-banner_image">
        <div class="tags-top">
            <a href="#"><span class="icon-icon-library"></span>89 Ed. 2 Digital</a>
            <a href="#"><img src="../../../../assets/images/icons/podcast.png" alt="Podcast" width="11" height="18"></a>
        </div>
        <picture class="picture-banner">
            <source srcset="../../../../assets/images/banners/manufactura-mobile.png" class="imagen-noticia-mobile" alt="manufactura" media="(max-width: 720px)" title="imagen noticia" height="172" width="360">
            <source srcset="../../../../assets/images/banners/manufactura-desktop.png" class="imagen-noticia-desktop" alt="manufactura" title="imagen noticia" height="302" width="692">
            <img srcset="../../../../assets/images/banners/manufactura-desktop.png" alt="Default imagen banner">
        </picture>
        <div class="tags-bottom">
            <a href="#">Manufactura</a>
            <a href="#">Ilot</a>
        </div>
    </div>
    <div class="notice-banner_text">
        <h1>Cinco tecnologías clave para digitalizar operaciones</h1>
        <p class="info-notice">La nueva realidad impuesta por la pandemia ha revivido la necesidad de la digitalización en la ...</p>
        <div class="name-autor">
            <p>Alaín Castillo</p>
            <p>.</p>
            <p>Nov 28, 2021</p>
        </div>
    </div>
</div>
