<div class="articles-home">
    <div class="articles-home_left">
        <app-notice-banner></app-notice-banner>
        <h2>Producto destacado</h2>
        <app-cards-notices></app-cards-notices>
    </div>
    <div class="articles-home_center">
        <app-sidebar></app-sidebar>
        <h2>Artículos relacionados</h2>
        <app-cards-notices></app-cards-notices>
    </div>
    <div class="articles-home_right">
        <picture class="container d-flex jc-center">
            <source srcset="../../../../assets/images/banners/AD-articles-mobile.png" class="mobile-notice" alt="Anuncio Reportero Industrial" media="(max-width: 960px)" title="Anuncio 300x600 RI" height="250" width="728">
            <source srcset="../../../../assets/images/banners/AD-articles-desktop.png" class="desktop-notice" alt="Anuncio Reportero Industrial" title="Anuncio 300x600 RI" height="330" width="286">
            <img srcset="../../../../assets/images/banners/AD-articles-desktop.png" alt="Default anuncio" height="330" width="286">
        </picture>
    </div>
</div>
