@import '../../assets/scss/config/variables';
@import '../../assets/scss/config/mixins';
@import '../../assets/scss/config/extends';

.notices{
    .container{
        padding: 2.5rem 0;
        margin-left: 0.4rem;
        margin-top: 0.1rem;
    }
}
@include mq-min(lg){
    .notices{
        .container{
            margin-left: 0;
            padding-left: 2.4rem;
            .desktop-notice{
                height: auto;
                margin-top: 0.9rem;
            }
        }
    }
}