<div class="notices">
    <picture class="container d-flex jc-center">
        <source srcset="../../../../assets/images/banners/AD-mobile.png" class="mobile-notice" alt="Anuncio Reportero Industrial" media="(max-width: 960px)" title="logo RI" height="50" width="320">
        <source srcset="../../../../assets/images/banners/AD-desktop.png" class="desktop-notice" alt="Anuncio Reportero Industrial" title="logo RI" height="90" width="728">
        <img srcset="../../../../assets/images/banners/AD-desktop.png" alt="Default anuncio" height="90" width="728">
    </picture>
</div>
