// ==========================================================================
// FontStack
// ==========================================================================

$font-size         :  1.6rem;
$font-primary      : 'Brandon Grotesque', sans-serif;
$font-secondary    : 'Poppins', sans-serif;
$font-tertiary     : 'Raleway', sans-serif;
$font-icon         : 'iconFont';

// ==========================================================================
// COLORS : Eje.: background: color( primary, light );
// ==========================================================================

$colors: (
   primary: (
      base     : #002C42,
      dark     : #E53212
   ),
   secondary: (
      base     : #FFA20D,
      dark     : #005285
   ),
   complementary: (
      one      : #FF7158,
      two      : #05111D,
      three    : #FFC000,
      four     : #D42E10,
      five     : #3B5875,
   ),
   alerts: (
      sucess   : #28A745,
      error    : #DC3545,
      warning  : #FFC100,
      info     : #0074FC
   ),
   controls:(
      base     : #0074FC,
      dark     : #0056B3,
   ),
   grayscale: (
      white    : #ffffff,
      gray-1   : #f2f2f2, 
      gray-2   : #E9ECEF,
      gray-3   : #cccccc,
      gray-4   : #999999,
      gray-5   : #6D6D6D,
      gray-6   : #333333,
      gray-7   : #4A4A4A,
      base     : #1b1b1b,
      black    : #000000
   ),
   border:(
      color-1  : #3B5875,
      color-2  : #E9ECEF,
      color-3  : #05111D
   )
);

// ==========================================================================
// SPACING : Eje.: padding: map-get($sizes, "tiny");
// ==========================================================================

$sizes: (
   tiny-s : 1rem,    // 10px
   tiny   : 1.2rem,  // 12px
   small  : 1.4rem,  // 14px
   small-m: 1.6rem,  // 16px
   base   : 1.8rem,  // 18px
   thumb  : 2rem,    // 20px
   half   : 2.4rem,  // 24px
   medium : 3.2rem,  // 32px
);

// ==========================================================================
// Breakpoints
// ==========================================================================

$breakpoints: (
   xs  : 360px,
   sm  : 540px,
   md  : 720px,
   lg  : 960px,
   xl  : 1140px,
   xxl : 1440px
);

// ==========================================================================
// Alignment
// ==========================================================================

$alignment: left, center, right, justify;
