<div class="cards-notices" *ngFor="let item of infoCardNotices">
    <div class="cards-notices_image">
        <a href="#" class="cards-notices_image_icon"><span class="icon-icon-play"></span></a>
        <a href="#" class="cards-notices_image_picture"><img src="{{item.imageCard}}" alt="Imagen noticias más leidas" width="320" height="172"></a>
        <a href="#" class="cards-notices_image_tag">Manufactura</a>
    </div>
    <div class="cards-notices_text">
        <h3>{{item.title}}</h3>
        <p class="cards-notices_text_paragraph">{{item.parrafo}}</p>
        <div class="cards-notices_text_autor">
            <p>{{item.text1}}</p>
            <p>{{item.text2}}</p>
            <p>{{item.text3}}</p>
        </div>
    </div>
</div>
